<nav class="navbar" th:fragment="navbar">
    <div class="container-fluid">
        <div class="justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li>Profile</li>
                <li><a href="post/create">Create</a></li>
                <li> <a href="posts/index">Post</a></li>
                <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
                </li>
            </ul>
        </div>
    </div>
</nav>